
:root {
    --button-color: #0097F2;
    --background-color: #FAFAFA;
    --border-color: #DBDBDB;
    --text-color: #262626;
    --secondary-text-color: #8E8E8E;
    --link-color: #003869;

    --display-font: 'Oleo Script', cursive;
    --body-font: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 60px 0 0 0;
    font-family: var(--body-font);
    color: var(--text-color);
    background: var(--background-color);
}

header {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* top bottom left right z-index */

    background: white;
    border-bottom: 1px solid var(--border-color);
    height: 54px;

    padding: 0 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    margin: 0;
    font-family: var(--display-font);
    font-size: 28px;
}

.header-search-bar {

}
