
:root {
    --button-color: #0097F2;
    --background-color: #FAFAFA;
    --border-color: #DBDBDB;
    --text-color: #262626;
    --secondary-text-color: #8E8E8E;
    --link-color: #003869;

    --display-font: 'Oleo Script', cursive;
    --body-font: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--body-font);
    color: var(--text-color);
    background: var(--background-color);
}

.site-title {

}

.header-search-bar {

}
